$sans-serif: "Segoe UI", Avenir, Tahoma, sans-serif
$serif: Georgia, serif
$monospace: "Source Code Pro", Consolas, monospace

$frame-font: normal 14pt/200% $sans-serif
$frame-background: #085078
$frame-text-color: #C4D0E0
$frame-text-shadow: 1px 1px 5px #000
$frame-highlight-color: #D4E8FF
$frame-highlight-shadow: 0 0 10px #FFF
  
$page-font: normal 16pt/150% $serif
$page-background: #F0F6F8
$page-text-color: #082E57

$white-border: solid 1px #FFF

$heading-font: normal 200% $sans-serif
$byline-font: normal 75% $sans-serif
$code-font: normal 14pt $monospace
$content-footer-font: normal 12pt/200% $sans-serif
  
$hyperlink-color: #4B7AAD
$hyperlink-highlight-color: #8AB3DF
$hyperlink-underline-color: rgba(138, 179, 223, 0)
$hyperlink-highlight-underline-color: rgba(138, 179, 223, 0.75)
  
$download-font: normal 12pt $sans-serif
$download-background-color: #F7F7F7
$download-background-image: linear-gradient(to bottom, #FCFCFC, #F7F7F7)
$download-box-shadow: 0 1px 0 #AAA, inset 0 2px 1px #FFF
$download-active-box-shadow: inset 0 1px 1px #AAA
$download-border-color: #DFDFDF
$download-text-color: #082E57
$download-text-shadow: 0 2px 2px #FFF
  
$code-border: dashed 1px #8AB3DF
$card-background: #FAFAFA
$card-shadow: 0 1px 5px #8E98A1