$sans-serif: "Segoe UI", Avenir, Tahoma, sans-serif
$serif: Georgia, serif
$monospace: "Source Code Pro", Consolas, monospace

$ui-font: normal 12pt/200% $sans-serif
$content-font: normal 14pt/21pt $serif
$heading-font: bold 200% $sans-serif
$byline-font: normal 85% $sans-serif
$code-font: normal 88% $monospace
$content-nav-font: normal 11pt/160% $sans-serif
$download-font: normal 13pt $sans-serif

$nav-background: #085078
$nav-text-color: #C4D0E0
$nav-highlight-color: #F2F7FC
$nav-highlight-background: #3E90BD
  
$page-background: #FCFEFF
$page-text-color: #07203B
$selection-background: #CBE1E8

$content-text-shadow: 0 1px 3px #FFF
  
$hyperlink-color: #4B7AAD
$hyperlink-highlight-color: #5F96D1
$hyperlink-visited-color: #9953A8
  
$download-background-color: #F7F7F7
$download-background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0))
$download-box-shadow: 0 1px 0 #AAA, inset 0 2px 1px #FFF
$download-active-background-color: #EAEAEA
$download-active-box-shadow: inset 0 1px 1px #AAA
$download-border-color: #DFDFDF
$download-text-color: #082E57
$download-text-shadow: 0 2px 2px #FFF
  
$article-top-border: dashed 1px #FFF
$article-bottom-border: dashed 1px #9CBFCB
$abbr-bottom-border: dashed 1px rgba(138, 179, 223, 0.75)