---
layout: default
title: "Visual Dooby"
---

<article itemscope itemtype="http://schema.org/SoftwareApplication">
  {% include software-project-body.html projectID="visual-dooby" %}
  <h2>Version History</h2>
  <table>
  {% for post in site.tags.VISUAL_DOOBY %}{% capture currentYear %}{{post.date | date:'%Y'}}{% endcapture %}<tr><th class=b>{% if currentYear != prevYear %}{{currentYear}}{% capture prevYear %}{{currentYear}}{% endcapture %}{% endif %}<th class=r>{{post.date | date:'%b %-d'}}<td><a href="{{post.url}}">{{post.title}}</a></tr>{% endfor %}
  </table>
</article>