---
layout: default
title: "Screen Capture"
---

{% assign project = site.data.projects | where:"id","screen-capture" | first %}
<article>
  <h1>{{project.title}} <small>{{project.version}}</small></h1>
  <p>{{project.description}}</p>
  <p><a href="{{project.download}}" class=download><b>Download</b> <nobr>{{project.title}} {{project.version}}</nobr>{% if project.fileSize %} <nobr>({{project.fileSize}})</nobr>{% endif %}</a></p>
  <h2>Version History</h2>
  <dl class=dates>
  {% for post in site.tags.SCREEN_CAPTURE %}
    <dt>{{post.date | date:"%F"}}</dt><dd><a href="{{post.url}}">{{post.title}}</a></dd>
  {% endfor %}
  </dl>
</article>