---
layout: default
title: "Screen Capture"
description: "A tool to capture the screen, a part of the screen, or a window, and copy it to the clipboard, or immediately save it to a file."
---

<article itemscope itemtype="http://schema.org/SoftwareApplication">
  {% include software-project-body.html projectID="screen-capture" %}
  <h2>Version History</h2>
  <table>
  {% for post in site.tags.SCREEN_CAPTURE %}{% capture currentYear %}{{post.date | date:'%Y'}}{% endcapture %}<tr><th class=b>{% if currentYear != prevYear %}{{currentYear}}{% capture prevYear %}{{currentYear}}{% endcapture %}{% endif %}<th class=r>{{post.date | date:'%b %-d'}}<td><a href="{{post.url}}">{{post.title}}</a></tr>{% endfor %}
  </table>
</article>