---
layout: default
title: Base Converter
---

{% assign project = site.data.projects | where:"id","base-converter" | first %}
<article>
  <h1>{{project.title}} <small>{{project.version}}</small></h1>
  <p>{{project.description}}</p>
  <p><a href="{{project.download}}" class="download"><b>Download</b> <nobr>{{project.title}} {{project.version}}</nobr>{% if project.fileSize %} <nobr>({{project.fileSize}})</nobr>{% endif %}</a></p>
  <p><img src="{{site.baseUrl}}projects/base-converter/base-converter-screenshot.png" alt="Base Converter screenshot"></p>
  <h2>Version History</h2>
  <dl>
  {% for post in site.tags.BASE_CONVERTER %}
    <dt class="date">{{post.date | date:"%F"}}</dt><dd><a href="{{post.url}}">{{post.title}}</a></dd>
  {% endfor %}
  </dl>
</article>