<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel=stylesheet href="{{site.baseUrl}}assets/site.css">
<link rel=alternate type="application/rss+xml" href="{{site.baseUrl}}feed.xml">
{% if page.robotsNoIndex %}<meta name=robots content="noindex,follow">{% endif %}
<!--[if lt IE 9]><script>(function(){for(var a='abbr,article,aside,figure,footer,header,main,nav,section,time'.split(','),i=a.length;i-=1;)document.createElement(a[i])}())</script><![endif]-->