---
layout: post
title: "Static destructor in C#"
hasCSharpCode: true
---

<p>C# (and .NET in general) offers static constructors for classes, but why are there no <i>static destructors</i>? I needed such a static destructor for a class that had to clean up resources. So I created a little helper-class that adds <i>static destructor</i>-functionality to a class: {% include code-snippet-csharp.html file="static-destructor/Destructor.cs" %}

<p>Here’s an example that shows how to use it: {% include code-snippet-csharp.html file="static-destructor/Usage.cs" %}
