---
layout: post
title: "Reading from and writing to a Stream"
hasCSharpCode: true
---

<p>Here you can find a class I wrote that allows you to easily read and write byte arrays from and to a <var>Stream</var>. I created it because I needed such functionality on a <var>NetworkStream</var> (where you can’t get the length of the stream).
{% include code-snippet-csharp.html file="stream-read-write/StreamHelper.cs" %}

<p>To write:
{% include code-snippet-csharp.html file="stream-read-write/Write.cs" %}

<p>To read:
{% include code-snippet-csharp.html file="stream-read-write/Read.cs" %}