---
layout: post
title: "Copying an HTML-fragment to the clipboard"
---

<p>Applications like Word and Excel let you copy some text or tabular data to the clipboard in <nobr><abbr title="Hypertext Markup language">HTML</abbr>-format</nobr>, so that the formatting and visual style doesn’t change when pasted. At work, I had to do something similar: our application uses a lot of grid-controls to display data, and we wanted the users to be able to select data from a grid, and copy it to the clipboard, in a format that would keep the tabular structure of the data. After some research, I found out that you can copy data to the clipboard in <nobr><abbr>HTML</abbr>-format</nobr>, and I thought: this is it. Piece of cake. But it wasn’t. Apparently, you have to pass a bit more information than just the <nobr><abbr>HTML</abbr>-code</nobr>. Googling around gave me some hints how it should be done, but nothing really specific. So I started experimenting, until it worked correctly.

<p>Tip: use a <var>StringBuilder</var> to build the <nobr><abbr>HTML</abbr>-code</nobr>, instead of concatenating strings. StringBuilders are very efficient for building long strings (hence the name StringBuilder): they are a lot faster than strings, and allocate much less memory.

<h2>Possible applications</h2>
<p>There are a lot of situations where you could use this:
<ul>
<li>Copying tabular data (and pasting it in Excel, Word or Outlook).
<li>Copying formatted, visually styled data.
<li>…
</ul>

<h2>The Code</h2>
{% include code-snippet.html file="copy-html-clipboard/CopyHtmlToClipboard.cs" %}

<h2>Example: copying a DataTable</h2>
{% include code-snippet.html file="copy-html-clipboard/Example.cs" %}