---
layout: post
title: "Removing diacritics from a string"
description: "How to remove all diacritics from a string in C#"
---

<p>Recently I had to write a function that removes all {% include wikipedia-link.html term="Diacritic" label="diacritics" %} from a string (e.g.: turning <code>José</code> into <code>Jose</code>). Searching the web, I quickly found the blog post <a href="http://blogs.msdn.com/b/michkap/archive/2007/05/14/2629747.aspx">“Stripping is an interesting job”</a> by Michael Kaplan. His code is simple and good, but I saw some opportunities for optimizations (obvious stuff): because we know the approximate length (actually the maximum length) of the resulting string, we could give the <var>StringBuilder</var>-instance an initial capacity equal to the length of the original string. In some simple cases I actually like using a <var>char</var>-array instead of a <var>StringBuilder</var>, because it has even less overhead. Another obvious optimization is to check whether the original string is not empty. Here’s my optimized version: {% include code-snippet.html file="RemoveDiacritics.cs" %}