---
layout: post
title: "Messaging protocols"
---

<p>While investigating messaging protocols for communication between devices and systems, I collected a list of articles, documents, presentations and specifications. Because this might be useful for other developers, I decided to share it here. The protocols I investigated are <abbr title="Advanced Message Queuing Protocol">AMQP</abbr>, <abbr title="Message Queue Telemetry Transport">MQTT</abbr>, <abbr title="Constrained Application Protocol">CoAP</abbr>, and <abbr title="Streaming Text Oriented Messaging Protocol">STOMP</abbr>.
  
<p><small><b>Update</b>: <a href="https://twitter.com/dobermai/status/578591904360726528">I received a link</a> to a series of articles about the essentials of <abbr>MQTT</abbr>, which I added to the list.</small>

<h2><abbr>AMQP</abbr></h2>
<ul class=print-href>
<li><a href="https://www.amqp.org/">Official website</a>
<li>{% include wikipedia-link.html term="Advanced Message Queuing Protocol" label="Wikipedia article" %}
<li><a href="http://docs.oasis-open.org/amqp/core/v1.0/amqp-core-complete-v1.0.pdf">Specification</a>
</ul>

<h2><abbr>MQTT</abbr></h2>
<ul class=print-href>
<li><a href="http://mqtt.org/">Official website</a>
<li>{% include wikipedia-link.html term="MQTT" label="Wikipedia article" %}
<li><a href="http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/mqtt-v3.1.1.pdf">Specification</a>
<li><a href="https://github.com/mqtt/mqtt.github.io/wiki">Community Wiki</a>
<li><a href="http://www.slideshare.net/andypiper/lightweight-messaging-for-a-connected-planet">Lightweight Messaging for a connected planet</a>
<li><a href="http://www.redbooks.ibm.com/redbooks/pdfs/sg248054.pdf">Building Smarter Planet Solutions with <abbr>MQTT</abbr> and <abbr>IBM</abbr> WebSphere MQ Telemetry</a>
<li><abbr>MQTT</abbr> Essentials:
  <ul>
    <li><a href="http://www.hivemq.com/mqtt-essentials-part-1-introducing-mqtt/">Introducing <abbr>MQTT</abbr></a>
    <li><a href="http://www.hivemq.com/mqtt-essentials-part2-publish-subscribe/">Publish &amp; Subscribe</a>
    <li><a href="http://www.hivemq.com/mqtt-essentials-part-3-client-broker-connection-establishment/">Client, Broker and Connection Establishment</a>
    <li><a href="http://www.hivemq.com/mqtt-essentials-part-4-mqtt-publish-subscribe-unsubscribe/"><abbr>MQTT</abbr> Publish, Subscribe &amp; Unsubscribe</a>
    <li><a href="http://www.hivemq.com/mqtt-essentials-part-5-mqtt-topics-best-practices/"><abbr>MQTT</abbr> Topics &amp; Best Practices</a>
    <li><a href="http://www.hivemq.com/mqtt-essentials-part-6-mqtt-quality-of-service-levels/">Quality of Service 0, 1 &amp; 2</a>
    <li><a href="http://www.hivemq.com/mqtt-essentials-part-7-persistent-session-queuing-messages/">Persistent Session and Queuing Messages</a>
    <li><a href="http://www.hivemq.com/mqtt-essentials-part-8-retained-messages/">Retained Messages</a>
    <li><a href="http://www.hivemq.com/mqtt-essentials-part-9-last-will-and-testament/">Last Will and Testament</a>
    <li><a href="http://www.hivemq.com/mqtt-essentials-part-10-alive-client-take-over/">Keep Alive and Client Take-Over</a>
  </ul>
</ul>

<h2><abbr>CoAP</abbr></h2>
<ul class=print-href>
<li>{% include wikipedia-link.html term="Constrained Application Protocol" label="Wikipedia article" %}
<li><a href="https://tools.ietf.org/html/rfc7252">Specification</a>
<li><a href="http://www.coapsharp.com/basics-of-coap/">Basics of <abbr>CoAP</abbr></a>
</ul>

<h2><abbr>STOMP</abbr></h2>
<ul class=print-href>
<li><a href="https://stomp.github.io/">Official website</a>
<li>{% include wikipedia-link.html term="Streaming Text Oriented Messaging Protocol" label="Wikipedia article" %}
</ul>

<h2>Comparisons</h2>
<ul class=print-href>
<li><a href="http://eclipse.org/community/eclipse_newsletter/2014/february/article2.php"><abbr>MQTT</abbr> &amp; <abbr>CoAP</abbr></a>
<li><a href="http://blogs.vmware.com/vfabric/2013/02/choosing-your-messaging-protocol-amqp-mqtt-or-stomp.html">Choosing your Messaging Protocol: <abbr>AMQP</abbr>, <abbr>MQTT</abbr>, or <abbr>STOMP</abbr></a>
<li><a href="http://www.slideshare.net/paolopat/mqtt-iot-protocols-comparison"><abbr>MQTT</abbr> &amp; <abbr>IoT</abbr> protocols comparison
(<abbr>MQTT</abbr> versus <abbr>HTTP</abbr>, <abbr>CoAP</abbr>, <abbr>AMQP</abbr>)</a>
<li><a href="http://java.dzone.com/sites/all/files/StormMQ_WhitePaper_-_A_Comparison_of_AMQP_and_MQTT.pdf">A comparison of <abbr>AMQP</abbr> and <abbr>MQTT</abbr></a>
</ul>