---
---

html {
	font: normal 14pt/22pt Georgia, serif;
}

body {
	margin: 0 auto;
	max-width: 50em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Segoe UI, sans-serif;
	font-weight: normal;
}

nav, form, body > header, footer, aside,
#header, #footer,
[aria-hidden=true], [role=navigation],
[role=contentinfo], [role=banner],
[id*=nav], [class*=nav],
[id*=masthead], [class*=logo],
[id*=sidebar], [class*=sidebar],
[class*=more], [class*=share],
[class*=social], [class*=comment],
[id*=comment], [id*=disqus] {
	display: none !important;
}