---
---
@import style-vars
@import mixins

html
  height: 100%
  background: $frame-background
  color: $frame-text-color

body
  margin: 0
  height: 100%
  font: $frame-font

  &> header
    margin: 0 auto
    max-width: 47em
    +prefixed(user-select, none)

    nav, ul, li, a
      display: inline-block

    ul
      list-style: none
      margin: 0
      padding: 0

    a
      padding: 0.7em 1em
      color: $frame-text-color
      text-shadow: $frame-text-shadow
      transition: color 0.3s ease, text-shadow 0.3s ease

      &:hover, &:focus
        color: $frame-highlight-color
        text-shadow: $frame-highlight-shadow

      &:active
        color: $frame-text-color
    
    &> a
      margin-right: 2em
      color: $frame-highlight-color

  &> footer
    margin: 0 auto
    max-width: 57em
    +prefixed(user-select, none)
    text-align: right
    text-shadow: $frame-text-shadow
    font-size: 80%
    padding: 0.5em 1em

.page
  min-height: 65%
  background: $page-background
  color: $page-text-color
  font: $page-font
  border-top: $white-border
  border-bottom: $white-border
  box-shadow: 0 0.1em 2em #000
  
  a
    color: $hyperlink-color
    border-bottom: solid 1px $hyperlink-underline-color
    transition: color 0.3s ease, border-color 0.9s ease
    
    &:hover, &:focus
      color: $hyperlink-highlight-color
      border-color: $hyperlink-highlight-underline-color
  
  ::selection
    background: $selection-background
  
.content
  margin: 0 auto
  max-width: 40em
  padding: 2em 1em
  
  &> footer
    font: $content-footer-font
    
    &> a
      display: inline-block
      margin-left: 1.5em

@media screen
  .content
    &> h1, &> h2
      text-shadow: $content-heading-shadow
      
a
  text-decoration: none

h1 small
  font-size: 100%
  opacity: 0.5

pre
  overflow: auto
  border: $code-border
  padding: 0.2em 0.5em
  margin: 1em -0.5em
  line-height: 100%
  
  &> code
    font-size: 75%

code, kbd, var
  font: $code-font

strong code, b code
  font-weight: bold

h1, h2
  font: $heading-font
  margin-bottom: 0

h1:first-child
  margin-top: 0

h2, .list h1
  font-size: 150%

.list h2
  font-size: 130%

h1 + h2,
h2 + p
  margin-top: 0.3em

ul
  padding: 0 0 0 1.1em

dt
  float: left

dd
  margin: 0 0 0.4em 6em

dd + dd
  margin-top: -0.4em

.dates > dt
  font-size: 90%

img
  max-width: 100%
  
article
  margin: 2em 0
  padding: 1em 2em
  background: $card-background
  border-top: $white-border
  border-bottom: $white-border
  box-shadow: $card-shadow
  
  &:first-child
    margin-top: 1em
  
  &:last-child
    margin-bottom: 1em

.byline
  font: $byline-font
  opacity: 0.6

.download
  font: $download-font
  display: inline-block
  +prefixed(user-select, none)

@media screen
  .page .download
    text-decoration: none
    text-align: center
    line-height: 200%
    padding: 0 1em
    position: relative
    top: 0
    background: $download-background-color
    background-image: $download-background-image
    box-shadow: $download-box-shadow
    border: solid 1px $download-border-color
    border-radius: 5px
    color: $download-text-color
    text-shadow: $download-text-shadow
    transition: top 0.1s ease, background-color 0.1s ease
  
    &:active
      top: 2px
      background-color: $download-active-background-color
      box-shadow: $download-active-box-shadow
    
    &:focus, &:hover
      color: $download-text-color
      border-color: $download-border-color

#about-picture
  float: right
  width: 200px
  height: 200px
  margin: -2em -0.5em 1em 1em
  border-radius: 100px

@media print
  
  body > header,
  body > footer,
  nav
    display: none
  
  html, .content, article
    background: transparent
    color: #000
  
  .page
    min-height: none
    border: none
    box-shadow: none
    font-size: 12pt

    a
      color: #000
      transition: none
      border: none !important
  
  .content
    max-width: none
    padding: 0
    
    &> footer
      display: none
  
  article
    box-shadow: none
    border: none
    padding: 0
  
  h1, h2, h3, .byline
    page-break-after: avoid
  
  p + pre
    page-break-before: avoid
  
  p, h1, h2, h3
    orphans: 3
    widows: 3
  
  pre
    overflow: visible
    page-break-inside: avoid
    border: none
    padding: 0
    margin: 1em 0
  
  code
    font-size: 11pt
  
  .byline
    opacity: 1
  
  .download
    b
      font-weight: normal
        
    &:after
      content: attr(href)
      display: block
      font-size: 75%

@media only screen and (max-width: 640px)
  body
    font-size: 10pt
      
    &> header > a
      font-size: 150%
      padding: 0.5em 0 0 0.5em
    
    &> footer
      font-size: 100%
      
  .content
    font-size: 12pt
    line-height: 150%
    padding: 1em 0.7em
  
  article
    padding: 1em
  
  code
    font-size: 11pt
  
  h1
    font-size: 150%
  
  h2, .list h1
    font-size: 120%
  
  .download
    font-size: 11pt
  
  #about-picture
    width: 100px
    height: 100px
    border-radius: 50px
    margin: -1.5em 0 1em 1em