---
---
@import "style-vars";

body
{
  background: $body-background;
  color: $body-text-color;
  
  > header
  {
  }
  
  > footer
  {
    text-align: right;
  }
}

.page
{
  background: $page-background;
  color: $page-text-color;
}