<pre><code>using System;
using System.ComponentModel;
using System.Drawing;
using System.Windows.Forms;
 
namespace TC.WinForms
{
  /// &lt;summary&gt;Represents a text box control for entering passwords.&lt;/summary&gt;
  [ToolboxItem(true), ToolboxBitmap(typeof(TextBox))]
  public class PasswordTextBox : TextBox
  {
    private const int
      WM_GETTEXT = 0x000D,
      WM_GETTEXTLENGTH = 0x000E,
      EM_SETPASSWORDCHAR = 0x00CC;
    
    private bool _accessText;
    
    /// &lt;summary&gt;Initializes a new instance of the &lt;see cref="T:PasswordTextBox" /&gt; class.&lt;/summary&gt;
    public PasswordTextBox()
    {
      UseSystemPasswordChar = true;
    }
 
    /// &lt;summary&gt;Gets or sets the current text in the &lt;see cref="T:TextBox"/&gt;.&lt;/summary&gt;
    /// &lt;returns&gt;The text displayed in the control.&lt;/returns&gt;
    public override string Text
    {
      get
      {
        _accessText = true;
        try { return base.Text; }
        finally { _accessText = false; }
      }
      set
      {
        _accessText = true;
        try { base.Text = value; }
        finally { _accessText = false; }
      }
    }
 
    /// &lt;summary&gt;Gets the length of text in the control.&lt;/summary&gt;
    /// &lt;returns&gt;The number of characters contained in the text of the control.&lt;/returns&gt;
    public override int TextLength
    {
      get
      {
        _accessText = true;
        try { return base.TextLength; }
        finally { _accessText = false; }
      }
    }
 
    /// &lt;summary&gt;Processes Windows message.&lt;/summary&gt;
    /// &lt;param name="m"&gt;The Windows &lt;see cref="T:Message" /&gt; to process.&lt;/param&gt;
    protected override void WndProc(ref Message m)
    {
      switch (m.Msg)
      {
        case WM_GETTEXT:
        case WM_GETTEXTLENGTH:
          if (!_accessText)
          {
            m.Result = IntPtr.Zero;
            return;
          }
          else break;
        case EM_SETPASSWORDCHAR: return;
      }
 
      base.WndProc(ref m);
    }
  }
}</code></pre>