---
layout: default
---

<article role=article itemscope itemtype="http://schema.org/Article">
  <header>
    <h1 itemprop=name>{{page.title}}</h1>
    <div class=byline><time pubdate itemprop=datePublished>{{page.date | date:"%F"}}</time></div>
  </header>
  <div itemprop=articleBody>{{content}}</div>
</article>
<nav>
{% if page.next %}<a href="{{page.next.url}}">« {{page.next.date | date:"%F"}}: {{page.next.title}}</a>{% endif %}
{% if page.next and page.previous %}<br>{% endif %}
{% if page.previous %}<a href="{{page.previous.url}}">» {{page.previous.date | date:"%F"}}: {{page.previous.title}}</a>{% endif %}
</nav>